In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#Read in Boston open data on Airbnb from Kaggle
b_cal = pd.read_csv('boston/calendar.csv')
b_list = pd.read_csv('boston/listings.csv')
b_rev = pd.read_csv('boston/reviews.csv')

In [5]:
#Read in Seattle open data on Airbnb from Kaggle
s_cal = pd.read_csv('seattle/calendar.csv')
s_list = pd.read_csv('seattle/listings.csv')
s_rev = pd.read_csv('seattle/reviews.csv')

In [16]:
dataframes = [b_cal, b_list, b_rev, s_cal, s_list, s_rev]
x = 0
for frame in dataframes:
    print(frame.shape)

(1308890, 4)
(3585, 95)
(68275, 6)
(1393570, 4)
(3818, 92)
(84849, 6)

The listing files have many columns, whereas the calendar and review data are much smaller in scope. It looks like the challenge will be weeding through the listing data.

In [18]:
b_cal.head(2)

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN

In [19]:
b_rev.head(2)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...

In [20]:
b_list.head(2)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.3

In [26]:
b_list.shape

(3585, 95)

In [25]:
for col in b_list.columns:
    print(f'{col}...{len(b_list[col].unique())}')

id...3585
listing_url...3585
scrape_id...1
last_scraped...1
name...3504
summary...3114
space...2269
description...3423
experiences_offered...1
neighborhood_overview...1729
notes...1270
transit...1860
access...1763
interaction...1618
house_rules...1929
thumbnail_url...2987
medium_url...2987
picture_url...3585
xl_picture_url...2987
host_id...2181
host_url...2181
host_name...1334
host_since...1281
host_location...177
host_about...1241
host_response_time...5
host_response_rate...53
host_acceptance_rate...73
host_is_superhost...2
host_thumbnail_url...2174
host_picture_url...2174
host_neighbourhood...54
host_listings_count...35
host_total_listings_count...35
host_verifications...83
host_has_profile_pic...2
host_identity_verified...2
street...1239
neighbourhood...31
neighbourhood_cleansed...25
neighbourhood_group_cleansed...1
city...39
state...1
zipcode...44
market...5
smart_location...39
country_code...1
country...1
latitude...3585
longitude...3585
is_location_exact...2
property_type...14
room_type...3
accommodates...14
bathrooms...13
bedrooms...7
beds...12
bed_type...5
amenities...3092
square_feet...38
price...324
weekly_price...244
monthly_price...289
security_deposit...55
cleaning_fee...80
guests_included...13
extra_people...51
minimum_nights...29
maximum_nights...85
calendar_updated...38
has_availability...1
availability_30...31
availability_60...61
availability_90...91
availability_365...348
calendar_last_scraped...1
number_of_reviews...178
first_review...976
last_review...405
review_scores_rating...49
review_scores_accuracy...9
review_scores_cleanliness...10
review_scores_checkin...9
review_scores_communication...8
review_scores_location...10
review_scores_value...10
requires_license...1
license...1
jurisdiction_names...1
instant_bookable...2
cancellation_policy...4
require_guest_profile_picture...2
require_guest_phone_verification...2
calculated_host_listings_count...25
reviews_per_month...645

## Preliminary observations of data format
It looks like there are several columns with only 1 unique value. These won't tell us anything, so we'll get rid of them.